@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant xs (@media (width >= 480px));

@theme {
  --color-bg-primary: #0F1115; 
  --color-bg-secondary: #16191E; 
  --color-bg-tertiary: #1C2128; 
  --color-accent: #6366F1; 
  --color-text-main: #E2E8F0; 
  --color-text-muted: #94A3B8; 
  --color-border-dark: #2D333B; 

  --color-preview-bg: #FFFFFF;
  --color-preview-header-bg: #F1F5F9;
  --color-preview-header-border: #E2E8F0;
  --color-preview-header-text: #64748B;
}
